<!doctype html>
<html>
<head>
</head>

<body>
<div id="wrapper">

<h1 id="title"> Shawn Murdoch  </h1>
<p>
Top 10 list of dogs!
</p>
<p>
1. Shiba Inu
</p>
<p>
2. Greman Shepard
</p>
<p>
3. Alaskan Malamute
</p>
<p>
4. Grayhound
</p>
<p>
5. Golden Retriver
</p>
<p>
6. King Charles Cavilier
</p>
<p>
7. Yellow Lab
</p>
<p>
8. Bernese Moutain Dog
</p>
<p>
9. Corgie
</p>
<p>
10. Pug
</p>
<p>
The reason why I chose to make a list was very simple: Dogs are great.
</p>
<p>
I love dogs, they are the best, and I've always had at least one, but it has gone up to 5 at one time.
</p>
</p>
The list I made is my personal favorite dogs, either because I've had that breed before or because I want to get that breed.
</p>

<p>
<a href="addToList.html">Add Items to List</a>
</p>
<p>
<a href="login.html">Login</a>
</p>

</body>
</html>